* {
  box-sizing: border-box;
  color: #615e5f;
}

/* html {
  scroll-snap-type: y mandatory;
} */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
	background: lightgray;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 2px;
}

.App {
	position: relative;
	padding: 64px 24px;
	width: 100%;
	max-width: 1200px;
}

.top-margin {
	margin-top: 160px;
}

.hr {
  margin: 48px 0;
  border-top: 1px solid gray;
}

.split-container {
  margin: 90px 0 200px;
}

.split-item {
  max-width: 400px;
  width: 33.3%;
}

.relative {
  position: relative;
}

/* .scroll {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
} */

.shadow-container {
	margin-left: 24px;
	margin-right: 24px;
	padding: 48px;
	border-radius: 5px;
	color: #262700;
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		-2px -2px 5px rgba(255, 255, 255, 0.2);
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.shadow-container:hover {
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.024),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.03),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
		-5px -5px 10px rgba(255, 255, 255, 0.1);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__img-container img {
  height: 700px;
}

.header__copy-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
	width: 100%;
}

.header__title {
	margin: 8px 0;
	font-size: 64px;
}

.copy {
	line-height: 32px;
}

.icon {
	height: 100px;
	width: 100px;
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	background: red;
	filter: drop-shadow(0 0 30px #333);
	transition: all ease-in-out 1s;
	cursor: pointer;
}

.card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid gray;
  cursor: pointer;
}

.card__item:last-of-type {
  border-bottom: 1px solid gray;
}

.card__copy-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.card__icon {
  font-size: 0;
  transition: font-size ease-in-out 0.3s;
}

.card__item:hover .card__icon {
  display: inline-block;
  font-size: 100px
}

.card__number {
  font-size: 64px;
}

.card__image {
  margin-bottom: 36px;
  height: 50px;
}

/* 
.right-container-glo-bg {
  background-image: url('/src/images/glo-card-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}

.right-container-pathcore-bg {
  background-image: url('/src/images/pathcore-card-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}

.right-container-humble-flower-bg {
  background-image: url('/src/images/humble-card-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
} */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lightgray;
  z-index: 100;
}

.modal--open {
	display: flex;
}

.modal__content {
  height: 90vh;
  width: 90%;
  max-width: 1200px;
  overflow: auto;
}

.modal__content::-webkit-scrollbar {
  width: 8px;
}

.modal__content::-webkit-scrollbar-track {
  background: transparent;
}

.modal__content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.modal__image {
  width: 200px;
  height: auto;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.modal__image-screens {
  margin: 0 auto 24px;
  max-width: 700px;
  width: 100%;
}

.close {
	position: absolute;
	top: 48px;
	right: 48px;
	cursor: pointer;
  width: 48px;
  height: 48px;
}

.pill {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid gray;
}

.modal__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

/* .modal__header-copy-container {
  margin-left: 24px;
} */
